@{
    ViewData["title"] = "Edit Payment";
}
@model Group03_PS.Models.TeacherPayment


<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="TeacherPaymentEdit" asp-controller="TeacherPayment" asp-route-No="No" method="post" role="form">
            <div class="modal-header">
                <h4 class="modal-title">Edit Payment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label asp-for="No">No</label>
                    <input asp-for="No" class="form-control" name="No">

                </div>
                <div class="form-group">
                    <label asp-for="Date">Date</label>
                    <input asp-for="Date" class="form-control" name="Date">

                </div>
                <div class="form-group">
                    <label asp-for="TeacherId">Teacher Id</label>
                    <input asp-for="TeacherId" class="form-control" name="TeacherId">

                </div>

                <div class="form-group">

                    <label asp-for="MonthName">Month</label>
                    <input asp-for="MonthName" class="form-control" name="MonthName">
                </div>
                <div class="form-group">

                    <label asp-for="Salary">Other</label>
                    <input asp-for="Salary" class="form-control" name="Salary">
                </div>
          
                <div class="form-group">

                    <label asp-for="Fine">Fine</label>
                    <input asp-for="Fine" class="form-control" name="Fine">
                </div>
                

            </div>
            <div class="modal-footer">


                <input type="submit" class="btn btn-success" value="Done">

            </div>
        </form>
    </div>
</div>